* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee2dc;
}

.main-container {
    display: grid;
    gap: 4px 4px;
    grid-template-columns: 1fr 1fr ;

}

.project-container {
    grid-column: 1 / 3;
    border: 2px solid #ac3b61;
    border-radius: 50px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    padding: 4px 4px;
    
}

.projects {
    flex: auto;
    max-width: 33%;
    padding: 0 4px;
    text-align: center;
    border: 2px solid #123c69;
    border-radius: 50px;
}

.form-container {
    border:2px solid #ac3b61;
    border-radius: 50px;
    display: grid;
    padding: 4px 4px;
    gap: 4px;
}

.form-title {
    text-align: center
}
.contact-inputs {
    border-radius: 20px;
    padding: 4px 4px;
    background-color: #edc7b7;
    color: black;
}

.submit-button {
    margin: 1px 25%;
    max-width: 50%;
}

.about-container {
    border: 2px solid #ac3b61;
    border-radius: 50px;
}
.about-container h2 {
    text-align: center;
}

.about-container p {
    margin: 4px 4px;
}
