<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home Page</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Quentin Hable</h1>
        </header>
        <main class="main-container">
            <section class="project-container">
                <div class="projects">
                    <h2>Wordle</h2>
                    <a href="https://github.com/sarcastic-pig/wordleclone">Go to Project</a>
                </div>
                <div class="projects">
                    <h2>Little Lemon</h2>
                    <a href="https://github.com/sarcastic-pig/LittleLemon/">Go to Project</a>
                </div>
                <div class="projects">
                    <h2>User Authentication System</h2>
                </div>
                
            </section>
            <section class="contact-container">
                <form action="" method="post" class="form-container">
                    <div class="form-title">
                        <h2>Contact</h2>
                    </div>
                    
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="contact-inputs">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                        {% endfor %}
                    <button type="submit" class="submit-button">Submit</button>
                </form>
            </section>
            <section class="about-container">
                <h2>About</h2>
                <p>about me</p>
            </section>
        </main>
        <footer>
            <h3>Links</h3>
            <a href="https://github.com/sarcastic-pig/">Github</a>
            <a href="https://www.linkedin.com/in/quentin-hable-313831286/">LinkedIn</a>
        </footer>
    </body>

</html>