<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home Page</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Quentin Hable</h1>
        </header>
        <main class="main-container">
            <section class="project-container">
                <h2 class="projects">Project 1</h2>
                <h2 class="projects">Project 2</h2>
                <h2 class="projects">Project 3</h2>
            </section>
            <section class="contact-container">
                <form class="form-container">
                    <div class="form-title">
                        <h2>Contact</h2>
                    </div>
                    <input type="text" name="name" placeholder='Name' class="contact-inputs" required>
                    <input type="email" name="email" placeholder='Email' class="contact-inputs" required>
                    <textarea name="message" placeholder="Message" class="contact-inputs" required></textarea>
                    <button type="submit" class="submit-button">Submit</button>
                </form>
            </section>
            <section class="about-container">
                <h2>About</h2>
                <p>about me</p>
            </section>
        </main>
        <footer>
            <h3>Links</h3>
            <a href="https://github.com/sarcastic-pig/">Github</a>
            <a href="https://www.linkedin.com/in/quentin-hable-313831286/">LinkedIn</a>
        </footer>
    </body>

</html>